

<div>

    <h1>Olá, {{name}}</h1>


    <p>Agradecemos por entrar em contato! para resetar a sua senha clique no link abaixo.</p>

    <a href="{{link}}">{{link}}</a>

    <strong>Att: Edson Lima</strong>


</div>